/*
    pink: #D552B0
    blue: #56AFF8
    black: #0E0814
*/

/* Header Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image{
    display: block;
}

header{
    min-height: 35vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./computer.jpg) center/cover;
    color: #d552b0;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 40px;
    padding-top: 10px;
}

header h1{
    font-size: 2.5rem;
    box-shadow: 0 10px 10px -10px #56aff8;
    display: inline-block;
    margin-bottom: 20px;
}

header nav a{
    display: inline-block;
    color: #d552b0;
    border: 2px solid #d552b0;
    border-radius: 100px;
    width: fit-content ;
    padding: 10px 30px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;

    transition: all 0.5s;
}

header nav a:hover{
    color: #fff;
    border-color: #56aff8;
    box-shadow: 0 10px 10px -10px #56aff8;  
    transform: translateY(-5px);
    cursor: pointer; 
    text-decoration: underline;
}


/* Footer Styling */
footer{
    font-family: 'Share Tech Mono', monospace;
    color: #0e0814;
    text-align: center;
    margin: 10px auto;
}

/* Main Styling */

main{
    padding: 10px;
}

main h2, main h3 {
    font-family: 'Share Tech Mono', monospace;
    color: #0e0814;
    box-shadow: 0 10px 10px -10px #56aff8;
    display: inline-block;
    margin: 12px auto;
}

#primary{
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

#primary_1{
    width: 65%;
}

#primary_2{
    width: 33%;
    background: #0e0814;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    border: 2px solid #56aff8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#primary_2 h3{
    color: #fff;
    box-shadow: 0 10px 10px -10px #fff;
    /* margin-left: 0; */
}


#secondary{
    display: flex;
    text-align: justify;
    justify-content: space-between;
    margin-top: 25px;
}

#secondary article{
    width: 32.5%;
    background: #d552b0;
    border: 2px solid #d552b0;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.5s;
}

#secondary article:hover{
    background: #56aff8;
    color: #fff;
    box-shadow: 0px 10px 10px -10px #56aff8;
    transform: translateY(-5px);
    border: 5px solid #0e0814;
}

/* Join Page styling */
form{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
}

input:focus{
    background: #d552b090;

}

button{
    width: fit-content;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    background: #0e0814;
    color: #d552b0;
    border: 2px solid #d552b0;  
    padding: 0 10px;  
    margin: 0 5px;
    transition: all 0.5s;
}

button:hover{
    color: #fff;
    border-color: #56aff8;
    box-shadow: 0 10px 10px -10px #56aff8;
    transform: translateY(-5px);
    text-decoration: underline;
    cursor: pointer;
}